{% extends "base.html" %} {% block title %} Take Attendance {% endblock %} {%
block content %}

<div class="image-container">
  <img src="{{ url_for('video_feed_for_dbcreation') }}" />
</div>
<div class="" style="padding-left:500px; padding-top:10px">
  <form method="post" action="{{ url_for('gen_frames_for_attendance') }}">
    <button
      type="submit"
      name="Mark Attendance"
      value="Mark Attendance"
      class="btn btn-primary col-md-6 text-center">Press to mark your attendance</button>
  </form>
</div>
{% with messages = get_flashed_messages() %} {% if messages %}
<script>
  var messages = {{ messages | safe }};
  for (var i = 0; i < messages.length; i++) {
      alert(messages[i]);
  }
</script>
{% endif %} 
{% endwith %} 
{% endblock %}
