{% extends "base.html" %}
{% block title %} Register Student {% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <!-- <img src="{{ url_for('video_feed') }}" height="80%"> -->

            <h2 class="mt-5">Add Student to DB</h2>
            <form method="post" action="{{ url_for('add_student_details') }}">

                <input type="text" name="name" />
                <input type="text" name="roll_no" />
                <input type="submit" value="Next" name="click" />

            </form>
            {% with messages = get_flashed_messages() %}
			{% if messages %}
				<script>
				var messages = {{ messages | safe }};
				for (var i=0; i<messages.length; i++) {
					alert(messages[i]);
				}
				</script>
			{% endif %}
		{% endwith %}
        </div>
    </div>
</div>
{% endblock %}