{% extends "base.html" %}
{% block title %} Index Page {% endblock %}
{% block content %}
<div class="container">
    <div class="col-lg-8  offset-lg-2">
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="static/images/register.webp" alt="Card image cap">
                <div class="card-body">
                    <form action="{{ url_for('tasks') }}" method="POST">
                        <button type="submit" class="btn btn-outline-primary">Add Student</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="static/images/mark.jpg" alt="Card image cap">
                <div class="card-body">
                    <form action="{{ url_for('mark_attendance') }}" method="POST">
                        <button type="submit" class="btn btn-outline-primary">Mark Attendance</button>
                    </form>

                    <!-- <input type="submit" value="Grey" name="grey" /> -->
                    <!-- <input type="submit" value="Negative" name="neg" /> -->
                    <!-- <input type="submit" value="Face Only" name="face" /> -->
                    <!-- <input type="submit" value="Start/Stop Recording" name="rec" /> -->
                </div>
            </div>
        </div><!-- <h3 style="font-family:courier;">Instructions:</h3> -->
    </div>
</div>
{% endblock %}