{% extends "base.html" %}
{% block title %} Index Page {% endblock %}
{% block content %}

<div class="container-fluid bg-light bg">
    <!-- Background image -->
    <div class="bg-image" style="background-image: url('static/images/classroom.jpg');
  height: 100vh;">
        <!-- Background image -->
        <div class="col-lg-8  offset-lg-2 pt-3">
            <div class="card-group pt-5">
                <div class="card rounded corners">
                    <img class="card-img-top img-thumbnail"
                        src="https://cdn-icons-png.flaticon.com/512/1946/1946628.png" alt="Card image cap">
                    <div class="card-body">
                        <a href="{{ url_for('add_student') }}">
                            <button type="submit" name="Add Student" value="Add student"
                                class="btn btn-outline-primary">
                                Add Student</button>
                    </div>
                </div>
                <div class="card pe-5 ps-5"> </div>
                <div class="card rounded border">
                    <img class="card-img-top img-thumbnail" src="static\images\Greentick.png" alt="Card image cap">

                    <div class="card-body">
                        <a href="{{ url_for('mark_attendance') }}">
                            <button type="submit" name="Mark Attendance" value="Mark Attendance"
                                class="btn btn-outline-primary"> Mark Attendance</button>


                            <!-- <input type="submit" value="Grey" name="grey" /> -->
                            <!-- <input type="submit" value="Negative" name="neg" /> -->
                            <!-- <input type="submit" value="Face Only" name="face" /> -->
                            <!-- <input type="submit" value="Start/Stop Recording" name="rec" /> -->
                    </div>
                </div>
            </div><!-- <h3 style="font-family:courier;">Instructions:</h3> -->
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        var messages = {{ messages | safe }};
        for (var i = 0; i < messages.length; i++) {
            alert(messages[i]);
        }
    </script>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}